<h1>LOG IN</h1>
<h3 *ngIf="incompleteFieldError">ALL FIELDS ARE MANDATORY FOR LOG IN!</h3>

<!--The Log in form-->
<div class="container">
    <div class="formular">
        <!--The username input-->
        <label>
            Username
            <input type="text" [(ngModel)]="newUser.username">
        </label>
        <!--The password input-->
        <label>
            Password
            <div class="buttonIn">
                <input [type]="hide ? 'password' : 'text'" [(ngModel)]="newUser.password">
                <button mat-icon-button (click)="hide = !hide" class="passwordButton">
                    <mat-icon *ngIf="hide">visibility</mat-icon>
                    <mat-icon *ngIf="!hide">visibility_off</mat-icon>
                </button>
            </div>
        </label>
        <button mat-flat-button class="form_button" (click)="logIn()">LOG IN</button>
    </div>
</div>