.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    width: 92%;
    padding-left: 1.5rem;
}

.text-danger {
    color: red;
}

small {
    padding-left: 2rem;
}

mat-label {
    color: blueviolet;
}

.inner_form div {
    display: inline-block;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}

.errors_section {
    padding-bottom: 0.5rem !important;
}

.inner_form::-webkit-scrollbar {
    display: none;
}

.inner_form {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1 {
    padding-bottom: 2.5rem;
    color: blueviolet;
    font-weight: bold;
}

.inner_buttons {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-left: 30rem;
    margin-top: 2rem;
}

button {
    margin-right: 1rem;
    color: white;
    background-color: blueviolet;
    border: solid;
    border-radius: 30px;
}

.small_button {
    width: 7rem;
}

.delete_buttons_div {
    margin-left: 15rem;
}

button:hover {
    background-color: rgba(137, 43, 226, 0.651);
}