<!-- popup for updating or adding a new employee -->
<div *ngIf="data.message === undefined">
    <!-- depending on the operation we render one of two headers -->
    <h1 mat-dialog-title *ngIf="data.name === ''">Plese complete the data for a new employee!</h1>
    <h1 mat-dialog-title *ngIf="data.name.length > 0">Plese complete the data in order to update the employee!</h1>

    <!-- form created using Angular Material -->
    <div mat-dialog-content>
        <!-- The name field -->
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="data.name">
        </mat-form-field>
        <!-- The projecct id field -->
        <mat-form-field appearance="fill">
            <mat-label>Project ID</mat-label>
            <input matInput [(ngModel)]="data.project_id">
        </mat-form-field>
        <!-- The adress field -->
        <mat-form-field appearance="fill">
            <mat-label>Adress</mat-label>
            <input matInput [(ngModel)]="data.adress">
        </mat-form-field>
        <!-- The email field -->
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="data.email">
        </mat-form-field>
        <!-- The hire date field -->
        <mat-form-field appearance="fill">
            <mat-label>Hire Date</mat-label>
            <input matInput [(ngModel)]="data.hire_date">
        </mat-form-field>
        <!-- The salary field -->
        <mat-form-field appearance="fill">
            <mat-label>Salary</mat-label>
            <input matInput [(ngModel)]="data.salary">
        </mat-form-field>
        <!-- The job title field -->
        <mat-form-field appearance="fill">
            <mat-label>Job Title</mat-label>
            <input matInput [(ngModel)]="data.job_title">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onClickCancel()">CANCEL</button>
        <button mat-button [mat-dialog-close]="data">SUBMIT</button>
    </div>
</div>

<!-- If there is a message inside then this is a delete request -->
<div *ngIf="data.message !== undefined">
    <div mat-dialog-content>{{data.message}}</div>
    <div mat-dialog-actions>
        <button mat-button (click)="onClickCancel()">CANCEL</button>
        <button mat-button [mat-dialog-close]="true">OK</button>
    </div>
</div>